<div class="mt4 mb3 w4 center">
  <a href="http://{{_accountInfo.HostName}}.com.br">
    <img alt="" border="0" width="auto" alt="{{_accountInfo.TradingName}}" src="http://lojaadcos.vteximg.com.br/arquivos/adcos-lg.png" style="max-height: 120px">
  </a>
</div>
