.mw5-5 {
  max-width: 24rem;
}

.mw6-5 {
  max-width: 40rem;
}

.b--light-blue {
  background-color: #006db1;
  color: #fff;
}

.b--light-blue .bg-light-gray {
  background-color: rgba(0,0,0,0.1);
}

.b--light-blue .gray {
  color: #fff !important;
}

h1 {
  color: #fff;
}

a {
  color: #006db1;
}