$pink: #d40053;
$gray: #575656;

body {
  background: $email-bg-color;
}

@media(max-width: 991px) {
	body {
	  background: #fff !important;
	  padding: 30px;
	}
}

h1 {
  color: $pink;
  font-size: 36px;
}

table, tr, td {
  color: $gray;
}

a {
  color: $pink;
}

.bg-green {
  background-color: $pink !important;
}

.mw5-5 {
  max-width: 24rem;
}

.mw6-5 {
  max-width: 40rem;
}

.message-footer {
  background: #eee;
  padding: 20px 0;
  text-align: center;
  margin-bottom: 20px;
}

.message-footer strong {
  color: $pink;
}

.message-footer p {
  font-size: 12px;
}

.fake-step {
  border-top: 1px solid $email-bg-color;
  border-bottom: 1px solid $email-bg-color;
  padding: 20px;
  text-align: center;
}