<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional //EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:o="urn:schemas-microsoft-com:office:office" xmlns:v="urn:schemas-microsoft-com:vml">
  <!-- partial:partials/html-head.hbs --><!-- partial -->
	<body>
		<table id="body-table" width="100%" border="0" cellpadding="0" cellspacing="0">
			<tr>
				<td align="center" valign="top">
					<table class="w-100 mw6-5 mv4-ns bg-white" width="100%" align="center" border="0" cellpadding="0" cellspacing="0">

            <!-- Header -->
            <tr>
              <td class="w-100 ph4-ns pb4 bb b--light-gray tc">
                <!-- partial:partials/logo.hbs --><!-- partial -->

                <h1>((i18n.payment.approved))</h1>
                <!-- partial:partials/messages/order-reference.hbs --><!-- partial -->
              </td>
            </tr>

            <tr>
              <td class="w-100 ph4-ns">
                <div class="mt4">
                  <p>
                    <!-- partial:partials/messages/hi.hbs --><!-- partial -->
                    {{#compare shippingData.logisticsInfo.length '>' 1}}
                      ((i18n.payment.preparingShippingManyProducts))
                    {{else}}
                      ((i18n.payment.preparingShippingOneProduct))
                    {{/compare}}
                  </p>
                </div>
              </td>
            </tr>

            <!-- Shipping Summary -->
            <tr>
              <td class="w-100 ph4-ns pv4 bt bb b--light-gray bw3">
                <h3 class="mt0">((i18n.shipping.summaryTitle))</h3>
                {{#richShippingData shippingData}}
                  {{#group logisticsInfo by="addessId"}}
                      {{#group items by="packageId"}}
                          <!-- partial:partials/items.hbs --><!-- partial -->
                      {{/group}}
                  {{/group}}
                {{/richShippingData}}
              </td>
            </tr>

            <!-- Payment -->
            <tr>
              <td class="w-100 ph4-ns pt3 pb4">
                <h3 class="ma0">((i18n.payment.title))</h3>
                {{#each paymentData.transactions}}
                  <!-- partial:partials/payment.hbs --><!-- partial -->
                {{/each}}

                {{#richShippingData shippingData}}
                  {{#group logisticsInfo by="addessId"}}
                    <div class="cb fn pt3">

                      <!-- Address info -->
                      <!-- partial:partials/address-delivery-title.hbs --><!-- partial -->
                      <!-- partial:partials/address-pickup-title.hbs --><!-- partial -->

                      <!-- Packages -->

                      {{!-- {{#group items by="packageId"}}
                        {{#compare item.length '>' 1}}
                          <h3 class="mb2">((i18n.package.title)) {{#math index '+' 1}}{{/math}}</h3>
                        {{/compare}}
                        <!-- partial:partials/package.hbs --><!-- partial -->
                      {{/group}} --}}
                    </div>
                  {{/group}}
                {{/richShippingData}}
              </td>
            </tr>

            <tr>
              <td class="ph4-ns pv3 bt b--light-gray">
                <!-- partial:partials/messages/regards.hbs --><!-- partial -->
              </td>
            </tr>
					</table>
				</td>
			</tr>
		</table>
	</body>
</html>
