<p>((i18n.common.regards))<br />((i18n.common.team)) {{_accountInfo.TradingName}}</p>
<div class="message-footer">
  <strong>DÚVIDAS</strong>
  <p>Caso tenha dúvidas sobre os produtos, fique à vontade para entrar em contato com nosso atendimento pelo telefone 4020-2367 ou pela nossa central de Atendimento.</p>
  <p>Nosso atendimento funciona de segunda à sexta-feira, de 08h às 18:00h, exceto em feriados.</p>
</div>
<img src="http://lojaadcos.vteximg.com.br/arquivos/footer-email.jpg" alt="Consulte seu dermatologista" />