<tr>
    <td class="step-01">
        <div><img src="" alt="" /></div>
        <span>Pedido Realizado</span>
    </td>
    <td class="step-02">
        <div><img src="" alt="" /></div>
        <span>Pagamento Confirmado</span>
    </td>
    <td class="step-03">
        <div><img src="" alt="" /></div>
        <span>Pedido Enviado</span>
    </td>
    <td class="step-04">
        <div><img src="" alt="" /></div>
        <span>Entrega Efetuada</span>
    </td>
</tr>